node_modules/
tests/
coverage/
build/

npm-debug.log
lerna-debug.log
logs
yarn-debug.log*
yarn-error.log*

.vscode/!launch.json
.vscode/!tasks.json

.npm


.DS_Store

.env.local
.env.*.local
node_modules
